[user]
	name = Kazuaki Nomura
	email = nkz0914ssk@gmail.com
[url "git@github.com:"]
	pushinsteadof = https://github.com/
[core]
	editor = nvim -c \"set fenc=utf-8\"
	ignorecase = false
	filemode = false
  pager = delta -n -s
[delta]
  plus-style = blue bold
  minus-style = red bold
[push]
	default = current
[color]
	ui = true
[alias]
	st = status
	df = diff
	co = commit
	br = branch
	ps = push
	pl = pull
	ck = checkout
	sw = switch
	tree = log --graph --all --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"

